:root {
  --dark-jungle-green: #001514ff;
  --battleship-grey: #7e8a89ff;
  --white: #fbfffeff;
  --blood-red: #6b0504ff;
  --marker-hit-red: #a3320bff;
  --marker-miss-blue: #1c74d1;
  --black: #130000;
}

html { font-size: calc(1em + 1vw) }

header {
  width: 100%;
  display: flex;
  justify-content: center;
}

h1 {
  color: #130000;
  font-family: cursive; 
}

svg {
  margin-left: .4em;
  width: 50px;
  height: 50px;
  fill: var(--black);
}

svg:hover {
  fill: var(--blood-red);
  tra
}
